<nav>
    <section class="sidebarBox">
            <h3 class="boxTitle">Umsatzrechner</h3>
            <div class="boxContent">
                <ul>
                    <li><a href="https://codevoyage.de/acp/umsatzrechner/2023/">Übersicht</a></li>
                </ul>
            </div>
    </section>
    <section class="sidebarBox">
            <h3 class="boxTitle">Eintrittspreise</h3>
            <div class="boxContent">
                <ul>
                    <li><a href="https://codevoyage.de/acp/eintrittspreise/">Übersicht</a></li>
                </ul>
            </div>
    </section>
</nav>