{% extends "layout.html" %}
{% block content %}

<table>
    <tbody>
        <tr>
            <td>Die Skripte in ein Template/Design integrieren<br></td>
            <td class="list-status-okay"><i class="fa fa-check" aria-hidden="true"></i></span></td>
        </tr>
        
        <tr>
            <td>Eine Verbindung zur Datenbank herstellen (MariaDB)</td>
            <td class="list-status-okay"><i class="fa fa-check" aria-hidden="true"></i></span></td>
        </tr>
        
        <tr>
            <td>Bisher entwickelten Python-Übungen integrieren<br></td>
            <td class="list-status-todo"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        
        <tr>
            <td>Kontaktformular erstellen<br></td>
            <td class="list-status-todo"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        
        <tr>
            <td>Impressum-Seite erstellen (Abruf aus Datenbank)<br></td>
            <td class="list-status-todo"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
        
        <tr>
            <td>Kontaktformular erstellen<br></td>
            <td class="list-status-todo"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>

{% endblock %}