<div class="navigation">
    <a href="https://codevoyage.de/" class="{% if bereich == 'Startseite' %}active{% endif %}">Startseite</a>
    <a href="https://php.codevoyage.de/" class="{% if bereich == 'PHP-Bereich' %}active{% endif %}">PHP-Bereich</a>
    <a href="https://python.codevoyage.de/" class="{% if bereich == 'Python-Bereich' %}active{% endif %}">Python-Bereich</a>
    <a href="https://typo3.codevoyage.de" target="_blank">Typo3-Instanz</a>
    <a href="https://the-supernatural.de/blog/blog-entry-list/2-am-mut-h%C3%A4ngt-der-erfolg-codevoyage-de/" target="_blank">Mein Blog 🫡🧠</a>
    <a href="https://codevoyage.de/acp/" class="{% if current_section == 'Administrationsbereich' %}active{% endif %}">Administrationsbereich</a>
</div>