<aside class"sidebarLeft>
    <section class="sidebarBox">
            <h3 class="boxTitle">Eigene Werke in Python</h3>
            <div class="boxContent">
                <ul>
                    <li><a href="https://python.codevoyage.de/umsatzrechner/">Umsatzrechner</a></li>
                    <li><a href="https://python.codevoyage.de/passwortgenerator/">Passwortgenerator</a></li>
                </ul>
            </div>
    </section>
    <section class="sidebarBox">
        <h3 class="boxTitle">Sonstiges</h3>
        <div class="boxContent">
            <ul>
                <li><a href="https://python.codevoyage.de/database-test/">Datenbanktest</a></li>
            </ul>
        </div>
    </section>
</aside>