<nav>
    <section class="sidebarBox">
            <h3 class="boxTitle">Eigene Werke in PHP</h3>
            <div class="boxContent">
                <ul>
                    <li><a href="https://php.codevoyage.de/umsatzrechner_2023.php">Umsatzrechner</a></li>
                    <li><a href="https://php.codevoyage.de/eintrittspreise.php">Eintrittspreise</a></li>
                    <li><a href="https://php.codevoyage.de/passwortgenerator.php">Passwortgenerator</a></li>
                </ul>
            </div>
    </section>
    
    <section class="sidebarBox">
            <h3 class="boxTitle">Spielerein & Snippets in PHP</h3>
            <div class="boxContent">
                <ul>
                    <li><a href="https://php.codevoyage.de/screensaver.php">Screensaver</a></li>
                    <li><a href="https://php.codevoyage.de/schwarzes_loch.php">Ein schwarzes Loch</a></li>
                    <li><a href="https://php.codevoyage.de/anleitung-github-und-flask.php">Eine Kurzanleitung für GitHub und Flask</a></li>
                </ul>
            </div>
    </section>
</nav>