<nav>
<div class="boxCapital" style="margin-top: 20px;">
    <p>Eigene Werke</p>
</div>
    <section class="sidebarBox">
    <h3 class="boxTitle">PHP</h3>
        <div class="boxContent">
            <ul>
                <li><a href="https://php.codevoyage.de/umsatzrechner_2023.php">Umsatzrechner</a></li>
                <li><a href="https://php.codevoyage.de/eintrittspreise.php">Eintrittspreise</a></li>
                <li><a href="https://php.codevoyage.de/passwortgenerator.php">Passwortgenerator</a></li>
            </ul>
        </div>
    </section>
    <section class="sidebarBox sidebarBox-last">
        <h3 class="boxTitle">Python</h3>
        <div class="boxContent">
            <ul>
                <li><a href="https://python.codevoyage.de/umsatzrechner/">Umsatzrechner</a></li>
                <li><a href="https://python.codevoyage.de/passwortgenerator/">Passwortgenerator</a></li>
            </ul>
        </div>
    </section>
    <div class="boxCapital">
        <p>Spielerein & Snippets</p>
    </div>
    <section class="sidebarBox">
        <h3 class="boxTitle">PHP</h3>
        <div class="boxContent">
            <ul>
                <li><a href="https://php.codevoyage.de/screensaver.php">Screensaver</a></li>
                <li><a href="https://php.codevoyage.de/schwarzes_loch.php">Ein schwarzes Loch</a></li>
                <li><a href="https://php.codevoyage.de/anleitung-github.php">Eine Kurzanleitung für GitHub</a></li>
                <li><a href="https://php.codevoyage.de/anleitung-flask.php">Eine Kurzanleitung für Flask</a></li>
                <li><a href="https://php.codevoyage.de/database-test.php">Datenbanktest</a></li>
            </ul>
        </div>
    </section>
    <section class="sidebarBox sidebarBox-last">
        <h3 class="boxTitle">Python</h3>
            <div class="boxContent">
                <ul>
                    <li><a href="https://python.codevoyage.de/database-test/">Datenbanktest</a></li>
                </ul>
            </div>
    </section>
</nav>